/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 /*style.css*/
 body{ 
 color: #424242;
 background-color: #ECEFF1;
 font-family: sans-serif;
}

h1{
  color: #03A9F4;
  text-align: center;
  margin-top: 20px;
}

a{
  text-decoration: none;
  color: #424242;
  vertical-align: middle;
}

.company-logo{
  width: 150px;
}

.card{
  background-color: #FFF;
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #90A4AE;
}

.pomodoro-estimate{
  font-weight: bold;
  color: #F44336;
  background-color: #F5F5F5;
  border-radius: 50px;
}

.text-input{
  font-size: 20px;
  background-color: #FFF;
  outline: none;
  border-style: none;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #90A4AE;
}

.button{
  font-size: 20px;
  text-align: center;
  color: #FFF;
  outline: none;
  border-style: none;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 1px #90A4AE;
}

.button:active{
  box-shadow: 1px 1px 1px #90A4AE;
}

.simple-link{
  display: block;
  margin-top: 20px;
  text-decoration: underline;
  color: #9E9E9E;
}

.simple-link:active{
  color: #212121;
}

/*index.css*/
ul{
  list-style: none;
  font-size: 20px;
}

li{
  margin-bottom: 10px;
  padding: 5px;
}

li:hover{
  background-color: #E1F5FE;
  border-radius: 3px;
}

.small-pomodoro-estimate{
  font-size: 14px;
  padding: 5px 10px 5px 10px;
}

.completed-todo{
  text-decoration: line-through;
}

#new-todo-block{
  margin: 0px auto 0px auto;
  width: 62%;
}

.add-new-todo-button{
  display: block;
  background-color: #03A9F4;
  width: 100px;
  margin-top: 10px;
}

/*show.css*/
h2{
  display: inline-block;
  vertical-align: middle;
  font-size: 32px;
  margin: 20px 0px;
}

.large-pomodoro-estimate{
  margin-top: 0px;
  display: block;
  width: 130px;
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  margin-bottom: 20px;
}

.edit-todo-button{
  display: inline-block;
  width: 40px;
  background-color: #1ABC9C;
  margin-right: 5px;
}

.delete-todo-button{
  display: inline-block;
  width: 60px;
  background-color: #F44336;
}