<ul class="card">
  <% @todos.each do |todo| %>
    <li>
      <input type="checkbox" name=""/>
      <a href="todo/show/<%= todo.id %>"><%= todo.description %></a>
      <span class="pomodoro-estimate small-pomodoro-estimate"><%= todo.pomodoro_estimate %> Pomodoros</span>
    </li>
  <% end %>
</ul>
    
<div id="new-todo-block">
  <a href="/todo/new" class="button add-new-todo-button" id="add-new-todo-button">Add a todo</a>
</div>