<div class="card">
  <h2>Add a new todo...</h2>
  
  <form action="/todo/create">
    <input class="text-input" name="description" type="text" placeholder="Add a new todo...">
    <input class="text-input" name="pomodoro-estimate" type="number" placeholder="Pomodoro estimate...">
    <input class="button add-new-todo-button" type="submit" value="Add todo">
    <a href="/" class="simple-link">Go back...</a>
  </form>
</div>