<h1>
  <img class="company-logo" src="https://public.3.basecamp.com/p/iahgNshn1oKq98sWGf1q89Vo/uploads/511042491/download/CodeNow%20Logo.png"></img>
  Workshop Todo List
</h1>
    
<div class="card">
  <input type="checkbox" name=""/>
  <h2>Make the curriculum</h2>
  <span class="pomodoro-estimate large-pomodoro-estimate">4 Pomodoros</span>
  <a href="#" class="button" id="edit-todo-button">Edit</a>
  <a href="#" class="button" id="delete-todo-button">Delete</a>
  <a href="index" class="simple-link">Go back...</a>
</div>