<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>
    <img class="company-logo" src="https://storage.googleapis.com/bc3_production/variants/GaRULPZ9WbrXkHK4KJ2FgPjx/696a0bed7e65d26dbcbb192e2eaab6d766b1ff5be7dc37eba625eb3a0ac2f808?GoogleAccessId=bc3-production-storage%40bc3-production.iam.gserviceaccount.com&Expires=1529078549&Signature=INahPrfT4WWk3GDYjMBHnhWIwLlheHd2SSXlfOzBPcaKd2QAL7IPrDTapfoG11kh1IhMDYuLLhZGO7BdURAK95LGSyHp9V9DsmolWaADZenrHL2xGVr%2Bc6deBURlFc%2FEOBqZ5VheVKM2D0rc9M2Yx2onkCwX1ipYwTSTyQ%2FdmblF9vO2Zu0jPfJhXUQ3MBnNqe1srcc%2B7e2%2FPvjAIj0zjGf3IGV6sQN2PCYixcvMoi1G3yS5RtXi2anf2%2BCVrco5NcB35rj%2B6ebSRpPcqtMzI6O69vT0%2BZu75rge5mg2pU7BWver7aNqgvKHRxfc5odh%2FsoLL%2BfcNtQkQfGXKBp9rA%3D%3D&response-content-disposition=inline%3B+filename%3D%22CodeNow_logo.png%22%3B+filename%2A%3DUTF-8%27%27CodeNow_logo.png&response-content-type=image%2Fpng"></img>
    Workshop Todo List
  </h1>
  
  <%= yield %>

</body>
</html>
